<div class="text">
    <div class="info">
        <h2 class="project_title"><%- project.title %></h2>
        <span class="project_date"><%= project.time_frame %></span>
        <div class="project_description"><%- project.getHTMLDescription() %></div>
    </div>
    <div class="quotes">
        <% if(project.quotes.length > 0){ %>
            <h4 class="testimonial_title">Testimonials</h4>
            <div class="testimonial_wrapper">
                <% project.quotes.forEach(quote => { %>
                    <span class="person"><%- quote.name %></span>
                    <span class="quote"><%- quote.quote %></span>
                <% }); %>
            </div>
        <% } %>
    </div>
    <div class="buttons">
        <% project.buttons.forEach(button => {
        if(button.hyperlink){ %>
            <a target="_blank"
               rel="noreferrer noopener"
               class="standard_button <%= button.extra_class || "" %>" <%- (button.data_custom) ? `data-custom="${button.data_custom}"` : "" %>
               href="<%= button.hyperlink %>">
                <%= button.content %>
            </a>
        <% } else { %>
            <span class="standard_button <%= button.extra_class || "" %>" <%- (button.data_custom) ? `data-custom="${button.data_custom}"` : "" %>>
            <%= button.content %>
        </span>
        <% }
        }); %>
    </div>
</div>
<div class="images">
    <% if(project.secondary_image_url) { %>
        <img class="project_bg" src="<%= project.secondary_image_url %>">
    <% } %>
    <img class="project_thumb" src="<%= project.thumb_url %>">
</div>
