<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <% include ../components/head.ejs %>
    <link rel="stylesheet" href="/admin/css/list.css">
    <link rel="stylesheet" href="/admin/css/edit.css">
    <link rel="stylesheet" href="/admin/css/fileSelect.css">
    <title><%= post.title %></title>
</head>
<body>
<% include ../components/sidebar.ejs %>
<div class="main">
    <form method="POST" action="save">
        <div class="section">
            <h2>Content</h2>

            <input type="text" name="title" class="project_title" value="<%= post.title %>" placeholder="Title">
            <input type="text" name="time_frame" class="project_date" value="<%= post.time_frame %>"
                   placeholder="Time Frame">
            <textarea name="description" class="project_description"
                      placeholder="Description"><%= post.description %></textarea>
            <input name="tags" autocomplete="off" autocapitalize="off" spellcheck="false" type="text" class="tags"
                   placeholder="Tags" value="<%= post.tags.join(", ") %>">
        </div>
        <div class="section">
            <h2>Options</h2>
            <label class="checkbox"><input name="display" type="checkbox" <%= post.display ? "checked" : "" %>><span>Display</span></label>
        </div>
        <div class="section images">
            <h2>Images</h2>

            <span class="image_selector_title">Thumbnail</span>
            <div class="image_selector">
                <img src="<%= post.thumb_url %>">
                <input type="text" name="thumb_url" id="thumb_input" value="<%= post.thumb_url %>">
                <button type="button" data-input="thumb_input" class="btn open-file-select">Select</button>
            </div>
            <span class="image_selector_title">Second Image</span>
            <div class="image_selector">
                <img src="<%= post.secondary_image_url %>">
                <input type="text" id="second_input" name="secondary_image_url" value="<%= post.secondary_image_url %>">
                <button type="button" data-input="second_id" class="btn open-file-select">Select</button>
            </div>
        </div>
        <div class="section list-section">
            <h2>Buttons</h2>
            <button type="button" class="btn new-button" id="button_new">New</button>
            <div class="table-wrapper">
                <table class="list-table st-table">
                    <thead>
                    <tr>
                        <th>Content</th>
                        <th>Hyperlink</th>
                        <th>Extra Class</th>
                        <th>Data</th>
                    </tr>
                    </thead>
                    <tbody id="buttons_list">
                    <% post.buttons.forEach(button => { %>
                        <tr class="item">
                            <td class="item-title"><input value="<%= button.content %>" name="button_name[]"></td>
                            <td><input value="<%= button.hyperlink %>" name="button_link[]"></td>
                            <td><input value="<%= button.extra_class %>" name="button_class[]"></td>
                            <td><input value="<%= button.data_custom %>" name="button_data[]"></td>
                            <td><span class="button up-button">↑</span><span class="button down-button">↓</span><span
                                        class="button x-button">✕</span></td>
                        </tr>
                    <% }); %>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="section list-section">
            <h2>Quotes</h2>
            <button type="button" class="btn new-button" id="quote_new">New</button>
            <div class="table-wrapper">
                <table class="list-table">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Quote</th>
                    </tr>
                    </thead>
                    <tbody id="quote_list">
                    <% post.quotes.forEach(quote => { %>
                        <tr class="item">
                            <td class="item-title"><input value="<%= quote.name %>" name="quote_name[]"></td>
                            <td><textarea class="quote_input" name="quote_quote[]"><%= quote.quote %></textarea></td>
                            <td><span class="button up-button">↑</span><span class="button down-button">↓</span><span
                                        class="button x-button">✕</span></td>
                        </tr>
                    <% }); %>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="button-area">
            <a href="trash?_csrf=<%= csrfToken %>" class="btn delete" type="submit">Trash</a>
            <button class="btn submit_button" type="submit">Save</button>
        </div>
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
    </form>
    <a href="/admin/posts" class="back">← Back To Posts</a>
</div>
<script src="/admin/js/fileSelect.js"></script>
<script>
    document.querySelector('.delete').addEventListener("click", evt => {
        if (!confirm("Are you sure you would like to move this post to trash?")) {
            evt.preventDefault();
        }
    });
    document.querySelector('#button_new').addEventListener("click", evt => {
        const item = document.createElement("tr");
        item.classList.add("item");
        item.innerHTML = `<tr class="item">
    <td class="item-title"><input value="Untitled" name="button_name[]"></td>
    <td><input value="" name="button_link[]"></td>
    <td><input value="" name="button_id[]"></td>
    <td><input value="" name="button_data[]"></td>
    <td><span class="button up-button">↑</span><span class="button down-button">↓</span><span
            class="button x-button">✕</span></td>
</tr>
        `;
        document.querySelector("#buttons_list").append(item)
    });

    document.querySelector('#quote_new').addEventListener("click", evt => {
        const item = document.createElement("tr");
        item.classList.add("item");
        item.innerHTML = `<tr class="item">
    <td class="item-title"><input value="John Doe" name="quote_name[]"></td>
    <td><textarea class="quote_input" name="quote_quote[]">""</textarea></td>
    <td><span class="button up-button">↑</span><span class="button down-button">↓</span><span
            class="button x-button">✕</span></td>
</tr>
        `;
        document.querySelector("#quote_list").append(item)
    });

    document.querySelectorAll('.list-table').forEach(el => {
        el.addEventListener("click", evt => {
            if (evt.target.classList.contains("x-button")) {
                _handleXButton(evt);
                return;
            }
            if (evt.target.classList.contains("up-button")) {
                _handleUpButton(evt);
                return;
            }
            if (evt.target.classList.contains("down-button")) {
                _handleDownButton(evt);
                return;
            }
        });
    });

    function _handleXButton(evt) {
        if (!confirm("Are you sure you would like to delete this button?")) {
            return;
        }
        evt.target.parentElement.parentElement.remove();
    }

    function _handleUpButton(evt) { // https://stackoverflow.com/a/34914096/7886229
        const el = evt.target.parentElement.parentElement;
        if (el.previousElementSibling) {
            el.parentNode.insertBefore(el, el.previousElementSibling);
        }
    }

    function _handleDownButton(evt) { // https://stackoverflow.com/a/34914096/7886229
        const el = evt.target.parentElement.parentElement;
        if (el.nextElementSibling) {
            el.parentNode.insertBefore(el.nextElementSibling, el);
        }
    }

    document.querySelectorAll('.image_selector input').forEach(el => {
        el.addEventListener("keyup", evt => evt.target.parentElement.querySelector('img').src = evt.target.value);
    });
    document.querySelectorAll('.image_selector img').forEach(el => {
        el.addEventListener("click", evt => {
            if (evt.target.hasAttribute("zoom")) {
                evt.target.removeAttribute("zoom");
            } else {
                evt.target.setAttribute("zoom", "");
            }
        });
    });

    document.querySelectorAll('.open-file-select').forEach(el => {
        const input = document.querySelector('#' + el.getAttribute("data-input"));
        el.addEventListener('click', _ => {
            FileSelect.getFile()
                .then(val => {
                    input.value = "https://joshbrown.info/" + val;
                })
                .catch();
        });
    });
</script>
</body>
</html>
