<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <% include ../components/head.ejs %>
    <link rel="stylesheet" href="/admin/css/list.css">
    <title>Posts</title>
</head>
<body>
<% include ../components/sidebar.ejs %>
<div class="main">
    <h1>Posts</h1>
    <a href="/admin/posts/new" class="btn new-button">New</a>
    <a href="/admin/posts/preview" target="_blank" class="btn preview-button">Preview</a>
    <a href="/admin/posts/trash" target="_blank" class="btn trash-button">Trash</a>
    <div class="table-wrapper">
        <table>
            <thead>
            <tr>
                <th class="id_header">id</th>
                <th class="title_header">Title</th>
                <th class="tag_header">Tags</th>
                <th class="date_header">Date</th>
            </tr>
            </thead>
            <tbody>
            <% posts.forEach(post => { %>
                <tr class="item">
                    <td><%= post.id %></td>
                    <td class="item-title <%= !post.display ? "off" : "" %>"><a
                                href="posts/<%= post.id %>/edit"><%= post.getTextTitle() %></a></td>
                    <td class="tags">
                        <% post.tags.slice(0, 5).forEach(tag => { %>
                            <span class="tag"><%= tag %></span>
                        <% }); %>
                    </td>
                    <td class="date"><%= post.date.toLocaleString() %></td>
                </tr>
            <% }); %>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
